article label{
    margin-right: 5px;
    margin-top: 5px;
    margin-left: 5px;
}
#alertas{
	overflow-y: auto;
    max-height: 250px;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}
.ativo{
	animation-name: piscar;
    animation-duration: 1s;
    animation-delay: 0.1s;
    animation-iteration-count: 15;
}
.offSet{
	animation-name: perigo;
    animation-duration: 1s;
    animation-delay: 0.1s;
    animation-iteration-count: infinite;
}
.desativo{
	opacity: .2;
}
.off{
	display: none;
}
.name{
	width: 50%;
}
@keyframes piscar{
	0% {background: rebeccapurple;}
	50% {background: green;}
}
@keyframes perigo{
	0% {background: rebeccapurple;}
	50% {background: red;}
}
@font-face {
    font-family: Digital;
    src: url(../fonts/dg.TTF);
}
@font-face {
    font-family: Simbulo;
    src: url(../fonts/simbulos.TTF);
}
h3{
	text-align: center;
}
#hora{
	font-family: Digital;
	font-size: -webkit-xxx-large;
}
#DP{
	display: none;
}
.menu{
	font-family: simbulo;
	font-size: -webkit-xxx-large;
	padding-top: 0px;
	margin-top: -20px;
}
.inp{
	width: 20%;
}